# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 5e111364a5c3428749448c2b78a766bf65452eb769756d24bbd4a25b69d5d06094befd415da84453f50c6914566f5486ffb7acfd0cbf896b3f68900beedf8379

test:
  secret_key_base: cc090d602ce1c6e5cc9636b0521d90121d77e5dcb8cd14cfdf0776a6cf9efc2760035cd3fb7eca8ad9cf77ff53e2d4abc68a4908f09aab7f16b6bf20e70d37f8

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
