%header.row
  .logo-container.col-12
    .center-block
      .logo-text.animated.pulse.delays-1s
        Fractastic!
      .underline
      .promo-text
        The most reliable web fraction calculator around!
    #try-it
      %i.fas.fa-angle-double-down

%section#calculator
  = render 'calculator'

= render 'shared/footer'
