@import /*
@import bootstrap
@import tether
@import font-awesome-sprockets
@import font-awesome
@import url('https://fonts.googleapis.com/css?family=Asar|Montserrat|Ramaraja&display=swap')

body
    -webkit-font-smoothing: antialiased
    background-color: #dae8e6
    font-family: 'Montserrat', sans-serif

a
    text-decoration: none