// font-family: 'Ramaraja', serif
// font-family: 'Asar', serif
// font-family: 'Montserrat', sans-serif
// font-family: 'Rationale', sans-serif

$light-text-color: #efeded
$calculator-padding: 20px
$calculator-bg: #2a3940eb
$calculator-dark: #212d32eb
$calculator-semi-dark: #212d32a6
$main-green: #2ab8a5
$main-blue: #1f317b
$error-color: #ff3223
$special-orange: #fa8b29
$darker-orange: #e8842b

@keyframes prompt-try-it
    0%
        transform: translate(-50%, -50%)
    25%
        transform: translate(-50%, -20%)
    70%
        transform: translate(-50%, -50%)

@media screen and (max-width: 767px)
    #expander, #shrinker
        display: none !important
    #right-panel
        display: none
    section#calculator
        #left-panel
            .calculator
                width: 270px
@media screen and (min-height: 1000px)
    section#calculator
        font-size: 1.2em

.logo-container
    &:before
        content: ''
        background: asset_url('logo-bg.png')
        background-position: center center
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-size: cover
        background-repeat: no-repeat
    z-index: 200
    height: 100vh
    background: linear-gradient(120deg, $main-blue 0%, $main-green 100%)
    color: $light-text-color
    position: relative
    .center-block
        position: absolute
        text-align: center
        top: 40%
        left: 50%
        transform: translate(-50%)
        
        .logo-text
            font-family: 'Ramaja', serif
            font-size: 60px
            font-style: italic
        
        .underline
            border-top: 1px solid $light-text-color
            margin-bottom: 20px

        .promo-text
            font-family: 'Montserrat', sans-serif
    #try-it
        font-size: 32px
        position: absolute
        bottom: 2%
        left: 50%
        transform: translate(-50%, -50%)
        animation: prompt-try-it 3s 4s infinite
main
    height: 100vh

section#calculator
    height: calc(93vh - 60px)
    #left-panel
        transition-duration: 1s
        .calculator.width-270
            width: 270px
    .calculator
        font-size: 1.2em
        transition-duration: 1s
        padding: $calculator-padding
        color: $light-text-color
        width: 100%
        max-width: 600px
        border-radius: 8px
        background-color: $calculator-bg
        margin-left: auto
        margin-right: auto
        margin-top: 30px
        margin-bottom: 30px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        #expander, #shrinker
            color: $darker-orange
            position: absolute
            bottom: 50%
            right: -1em
            font-size: 1.4em
        #shrinker
            display: none
        .display-wrapper
            margin-left: #{$calculator-padding * -1}
            margin-right: #{$calculator-padding * -1}
        #display
            border: none
            background-color: $calculator-dark
            font-family: 'Rationale', sans-serif
            text-align: right
            min-height: 100px
            max-height: 200px
            font-size: 1.6em
            width: 100%
            margin-top: 10px
            color: $light-text-color
            padding: 5px
        #error-label
            font-size: .65em
            color: $error-color
            padding: 2px
            height: 30px
        .keyboard-row
            position: relative
            margin-left: #{$calculator-padding * -1}
            margin-right: #{$calculator-padding * -1}
        #backspace-btn
            font-size: 1.2em
        .spec-btn
            font-weight: bold
            color: $special-orange
        .func-btn
            font-weight: bold
            color: $main-green
        .btn-col
            &:hover
                cursor: pointer
                background-color: $calculator-dark
                transition-duration: .3s
            &:active
                background-color: $calculator-semi-dark
                transition-duration: .25s
            transition-duration: .3s
            border-radius: 4px
            text-align: center
            height: 60px
            padding: 15px
